<!--@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
@{
    Layout = "_Layout";
}
<section class="jumbotron text-center" style="background-color:#AAFADF">
    <div class="container">
        <h1 class="text_h1" style="color:#00593B; font-weight:bolder">Welcome to Touch Down eAuction</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-success my-2" style="width:25%">Bid</a>
        </p>
    </div>
</section>

}